<!DOCTYPE html>
<html>
    <head>
        <title>Cipher</title>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">
        <link rel = "stylesheet" href = "static/css/style.css">
    </head>
    <body>
        <div id = "Main">
            <h1>Let's Cipher!</h1>
            <p>Enter a message!<p>
        </div>
        <form method = "post" action = "/results">
            <input type="text" name="original_message" placeholder="Enter a message"/>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>
